.recipes-wrapper {
  width: 100%;
  text-align: center;
}

.recipes-wrapper > h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #999999;
  font-size: 40px;
}

.recipes {
  text-align: center;
  margin: auto;
}

.recipes::after {
  content: "";
  display: block;
  clear: both;
}

.recipe {
  /* width: calc(33% - 32px); */
  margin: 16px;
  background: #fff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #ddd;
  /* float: left; */
}

.recipe .photo {
  width: 100%;
  padding-bottom: 70%;
  border-radius: 25px;
  display: inline-block;
}

.recipe .title {
  text-align: left;
  font-weight: bold;
  color: #494843;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe .title a {
  color: #494843;
}

.recipe .description {
  text-align: left;
  color: #666;
  font-size: 15px;
  height: 60px;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recipe .details {
  text-align: left;
  color: #9b9b9b;
  border-top: 1px solid #ddd;
  padding-top: 16px;
}

.recipe .details::after {
  content: "";
  display: block;
  clear: both;
}

.recipe .rating {
  float: left;
  cursor: pointer;
}

.recipe .rating i {
  color: #fd6721;
}

.recipe .bookmark {
  float: right;
  cursor: pointer;
}

/* SLICK */

.slick-arrow, .slick-next, .slick-prev {
  
}