.single-recipe-wrapper {
  width: 100%;
  padding-top: 16vh;
  height: 100vh;
  background: #F5F5F5;
}

.single-recipe {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 3rem;
  height: 80vh;
  background: rgba(255, 255, 255, 0.9);
  background: #fff;
  border-radius: 25px;
  position: relative;
  z-index: 2;
  overflow-y: auto;
}

.single-recipe .recipe-title {
  font-size: 30px;
  padding-bottom: 16px;
}

.single-recipe .photo {
  width: 100%;
  padding-bottom: 70%;
  border-radius: 25px;
  margin-bottom: 20px;
  background-position: center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
}

.description {
  text-align: left;
  color: #666;
  font-size: 15px;
}

.description > h2 {
  color: #000;
  padding-bottom: 8px;
}

.left-side {
  float: left;
  width: 35%;
}

.right-side {
  float: left;
  width: 65%;
  padding-left: 2rem;
}
.right-side-section .instructions-title, .right-side-section .ingredients-title {
  padding-bottom: 8px;
}

.right-side-section .instructions-title {
  padding-top: 24px;
}

.ingredients {
  color: #666666;
  font-size: 15px;
}

.ingredients > p, .instructions >p {
  padding: 2px 0;
}

.instructions {
  color: #666666;
  font-size: 15px;
}

@media (max-width: 650px) {
  .single-recipe-wrapper {
    padding-top: 12vh;
  }

  .single-recipe {
    width: 95%;
    margin: auto;
    padding: 1rem 1.5rem;
    height: 85vh;
  }
  .left-side {
    float: none;
    width: 100%;
  }
  .right-side {
    float: none;
    width: 100%;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
  .recipe-title {
    font-size: 22px!important;
  }
  .ingredients-title, .instructions-title {
    font-size: 18px;
  }
  .ingredients, .instructions {
    font-size: 14px;
  }
}